# dotenv environment variables file
.env

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Lambda deployment zip
dist.zip

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars